
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Kode2Learn</strong>
                    </h4>
                    <p>Miami University<br/>Oxford, OH</p>
                    <ul class="list-unstyled">
                        <!--<li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>-->
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.primary_contact }}">{{ site.primary_contact }}</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ site.facebook_link }}" target="_blank"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="{{ site.twitter_link }}" target="_blank"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="{{ site.github_link }}" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Kode2Learn Miami University 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/animated-headline.js"></script>

    <!-- Custom JS -->
    <script src="js/scripts.js"></script>